<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/919dfe1f4e.js" crossorigin="anonymous"></script>
</head>
<header class="header">
    <div class="logo">
        <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
    </div>
    <div>
        <form action="">
            <input type="text">
            <button>Buscar</button>
        </form>
    </div>
    <div>
        <p>Compra en cuotas y sin tarjeta de credito</p>
    </div>
    <nav>
        <ul>
            <li><a href="Ofertas">Ofertas</a></li>
            <li><a href="Tiendas Oficiales">Tiendas oficiales</a></li>
            <li><a href="Vender">Vender</a></li>
            <li><a href="Ayuda">Ayuda</a></li>

        </ul>
        <ul>
            <li><a href="Creá tu cuenta">crea tu cuenta</a></li>
            <li><a href="Ingresá">Ingresa</a></li>
            <li><a href="Mis Compras">Mis Compras</a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>

<body>
    <main class="main">
        <section class="main__section">
            <h3>Basado en tu última visita</h3>
            <article class="main__section--producto1">

                <img src="/img/img-cafetera-moulinex.jpg" width="300" height="300" alt="img-cafetera-moulinex">
                <p class="precios">$6.770</p>
                <p class="descuento">40%OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" width="300" height="300" alt="img-macbook-pro-2019">
                <p class="precios">$230.000</p>
                <p class="descuento">20% off</p>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" width="300" height="300" alt="img-samsung-galaxy-s10">
                <p class="precios">$70.500</p>
                <p class="descuento">10% off</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" width="300" height="150" alt="img-tv-samsung-smart">
                <p class="precios">$23.200</p>
                <p class="descuento">5% off</p>
                <h5>SmartTv Samsung 43"</h5>
            </article>

        </section>
        <section class="main__section">
            <h3>Ofertas</h3>
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" width="300" height="300" alt="img-cafetera-moulinex">
                <p class="precios">$6.770</p>
                <p class="descuento">40%OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" width="300" height="300" alt="img-macbook-pro-2019">
                <p class="precios">$230.000</p>
                <p class="descuento">20% off</p>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" width="300" height="300" alt="img-samsung-galaxy-s10">
                <p class="precios">$70.500</p>
                <p class="descuento">10% off</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" width="300" height="300" alt="img-tv-samsung-smart">
                <p class="precios">$23.200</p>
                <p class="descuento">5% off</p>
                <h5>SmartTv Samsung 43"</h5>
            </article>

        </section>
    </main>
    <footer class="footer">
        <section class="footer__sectio">
            <article class="footer__section--article">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
        </section>
        <section>
            <article class="footer__section--article">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
        </section class="footer__section--article">
        <section>
            <article class="footer__section--article">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>

</body>

</html>